[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hypothesis"]
	path = hypothesis
	url = https://github.com/cran/hypothesis
[submodule "queryBuilder"]
	path = queryBuilder
	url = https://github.com/cran/queryBuilder
[submodule "shinyGizmo"]
	path = shinyGizmo
	url = https://github.com/cran/shinyGizmo
[submodule "shinyQueryBuilder"]
	path = shinyQueryBuilder
	url = https://github.com/cran/shinyQueryBuilder
